  
* { 
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    
    }


    .container { 
     display: grid;
     grid-template-rows: 2.5rem 1.5fr 0rem;
     grid-template-columns: minmax(0px, auto) 1fr;
     grid-template-areas: 
     's h'
     's m'
     's f';
     width: 100vw;
     height: 100vh;
    
    }
    
    .label {
        background-color: #f2e9de;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        position: relative;
        padding: 5px;
        height: 26px;
        width: 50px
      }
    
      .checkbox {
        opacity: 0;
        position: absolute;
      }
    
      .checkbox:checked + .label .ball {
        transform: translateX(24px);
      }

      .ball {
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 6px;
        height: 26px;
        width: 26px;
        transition: transform 0.2s linear;
      }
    
    
      .fa-moon {
        color: #817c9c;
      }
    
      .fa-sun {
        color: #f6c177;
      }

       
  .fa-plus {
    color: #191724;
    font-size: 40px;
  }


    .header {
    grid-area: h;
    background-color: #f2e9de;
    
    
    }
    .side {
    grid-area: s;
    background-color:#f2e9de;
    padding: 5px;
    
    
    }
    .side h1 {
      font-size: 3rem;  
      color: #575279;
    }
    .side ul {
        overflow: auto;
    }
    .main {
    grid-area: m;
    background-color: #faf4ed
   
    }
    

    li {
        font-size: 2rem;
        color: #3e8fb0;
        list-style-type: none;
        margin-right: 3rem;
        
    }

    .top {
        display: flex;
        flex-direction: row;
        justify-content: end;
    
    }
        
    .note-area {
        margin: 10px;
      max-width: 500px;
    }
    .textinput {
        height: 150px;
        background-color:#9ccfd8;
        border-radius: 5px;
        caret-color: #eb6f92;
        font-size: 2rem;
    }

   

    button {
        background-color: #2a273f;
        color: #e0def4;
        border: none;
        border-radius: 5px;
        font-size: 1.5rem;
        padding: 2px;
        margin-top: 5px;
        margin-left: 10px;
    }
    

    .menu-button {
        display: flex;
        justify-content: right;
    }
    

   .note-buttons {
      display: flex; 
      justify-content: end;
   }

   footer {
    grid-area: f;
    background-color: #f2e9de;
    display: flex;
    justify-content: center;
    }
   footer p {
       color: #3e8fb0;
       font-size: 2rem;
   }

    
    @media screen and (max-width:600px) {
        
    .container { 
        display: grid;
        grid-template-rows:2.5rem 8rem 1fr 0rem ;
        grid-template-areas: 
        'h h'
        's s'
        'm m'
        'f f';
       }

     .side {
           display: flex;
           justify-content: center;
       }
     
    .note-area {
        max-width: 100vw;
    }
    .note-buttons {
        justify-content: center;
    }
   
}
    